{% load staticfiles %}
{% block navbar %}
    <!-- header -->
    <div class="head-top"></div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="{% url 'show.views.index' %}"><img src="{% static 'images/logo.png' %}" class="img-responsive"
                                                            alt=""></a>
            </div>
            <div class="header-left">
                <div class="head-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li id="homepage"><a href="{% url 'show.views.index' %}">主页</a></li>
                        {% if not name%}
                        <li id="loginpage"><a href="{% url 'show.views.login' %}">登录</a></li>
                            {% else %}
                             <li id="contactpage"><a href="{% url 'api.views.list' %}">我的预约</a></li>
                        {% endif %}

                        <div class="clearfix"></div>
                    </ul>
                    <!-- script-for-nav -->
                    <script>
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script-for-nav -->
                </div>
                <div class="header-right1">
                    <div class="cart box_1">
                        {% if name %}
                            <p>
                            <table>
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>
                                        <a href="{% url 'api.views.logout' %}">
                                            <button class="btn btn-link">注销</button>
                                        </a>
                                    </td>
                                </tr>
                            </table></p>
                        {% else %}
                            <a href="{% url 'show.views.register' %}">
                                <button id="new_user" class="btn btn-link">注册新用户
                                </button>
                            </a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- header -->
{% endblock %}