{% extends 'layout.html' %}
{% load staticfiles %}

{% block headjs%}
<script type="text/javascript">
$(document).ready(function(){
	$('#loginpage').addClass('active');
});
</script>
{% endblock %}

{% block body %}
<!-- register -->
<div class="container">
	<div class="row">
	<div class="col-md-12">
                <div class="page-header">
                    <h3>登录</h3>
                </div>
             </div>
             </div>
	<div class="well row">
		<div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			<h3>新用户</h3>
			<p>如果您还没有挂号平台账户，请注册一个再预约挂号。</p>
			<button class="btn btn-lg btn-primary" onclick="window.location={% url 'view.register' %}">注册账户</button>
		</div>
		<div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			<h3>已注册用户</h3>
			<p>如果您已注册，请直接登录。</p>
			<form action="/api/login/" method="post" onSubmit="return check()">
				<div class="form-group">
			                    <label class="control-label">姓名</label>
			                        <input class="form-control" type="text" id = "input_username" required>
			             </div>
				<div class="form-group">
			                    <label class="control-label">密码</label>
			                        <input class="form-control" type="password" id = "input_password" required>
			             </div>
				<!-- <a class="forgot" href="#">忘记密码？</a> -->
				<button class="btn btn-lg btn-success" type="submit">登录</button>
			</form>
		</div>	
		<div class="clearfix"> </div>
	</div>
</div>


<!-- register -->	

{{ block.super }}
{% endblock %}