{% extends 'layout.html' %}
{% load staticfiles %}

{% block headjs%}
<script type="text/javascript">
function submit_order()
{
    $("#order_success").fadeIn();
    setTimeout(function(){
            window.location = "{% url 'view.index' %}";
        },2000);
}
$(document).ready(function(){
	$('#listpage').addClass('active');
      $("#order_success").hide();
      $("#date_btn").blur(function() {
            alert($("#date_1").val());
      });
      $("#date_2").change(function() {
            alert($("#date_2").val());
      });
});
</script>
{% endblock %}

{% block headcss %}
{% endblock %}

{% block body %}
<!-- checkout -->
<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">

            <h3>{{ hospital }}</h3>
            <table>
              <tbody>
                    <tr>
                      <td>就诊时间选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      <td>
                      <div class="input-append date form_datetime row">
                        <input size="16" type="text" data-format="yyyy-MM-dd" id="date_1" value="" readonly required>
                        <span class="add-on"><button id="date_btn" class="btn btn-default btn-warning">选择日期</button></span>
                            <script type="text/javascript">
                          $(function() {
                            $('.date').datetimepicker({
                              pickTime: false
                            });
                          });
                        </script>
                      </div>
                    </td>
                    <td>
                      <select class="form-control" id="date_2">
                        <option value="上午">&nbsp;&nbsp;上午</option>
                        <option value="下午">&nbsp;&nbsp;下午</option>
                      </select>
                    </td>
                  </tr>
              </tbody>
            </table>

        </div>
     </div>
 </div>

<div class="row">
<div class="col-md-10 col-md-offset-1">

<div class="alert alert-success" role="alert" id="order_success">预约成功！请及时支付并打印订单。</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

{% for dept in departments %}
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="heading{{ dept.name }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ dept.name }}" aria-expanded="true" aria-controls="collapse{{ dept.name }}">
          {{ dept.name }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ dept.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ dept.name }}">
      <div class="panel-body">
        <table class="table">
        	<thead>
        		<tr>
        			<th>姓名</th>
        			<th>职称</th>
        			<th>挂号费</th>
                          <th>可预约数</th>
        			<th>预约</th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for doctor in dept.doctors %}
        		<tr name="{{ doctor.name }}">
        			<td>{{ doctor.name }}</td>
        			<td>{{ doctor.rank }}</td>
        			<td>{{ doctor.price }}</td>
                          <td>{{ doctor.slot }}</td>
        			<td><button class="btn btn-default btn-success" onclick="submit_order()">确认预约</button></td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>

</div>

    {{ block.super }}
{% endblock %}